/* --- GENERAL --- */
html{
  font-family: Helvetica, sans-serif;
  color:#05212e;
  background-color: #f6f8f9;
}
a {text-decoration: none;}

/* --- GENERAL --- */


div#banner p, div#input, p.head{display: inline-block;}


/* --- BANNER --- */
div#banner {
  background-color: #758ecd;
  border-radius: 15px;
  text-align: left;
  width: 700px;
  position: fixed; 
  display:flex;
  align-items:center;
  justify-content:space-around;
}

div#banner img {
  width:45px;
  height: auto;
}

div#banner a {
  flex: 1;
  color:#05212e;
  font-weight: bold;
  text-indent: 15px;
}

div#banner a:hover{ /* Changes appearance when mouse is hovering */
  background-color: #a1b6eb;
  color: #000000;
  text-shadow: 2px 2px 3px #758ecd;
  padding: 15px 0px 15px 0px;
}
/* --- BANNER --- */

/* --- FOOTER --- */
/* followed a YT tutorial */
.footer-container {
  background-color: #758ecd;
  box-sizing: border-box;
  padding: 0;
  margin-left: 0;
  text-align: left;
  line-height: 25px;
}
.footer {
  width: 100%;
  height: 200px;
  background-color: #758ecd;
  color:#05212e;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 15px;
  text-align: left;
}
.creators, .inspo, .refer {
  display: flex;
  flex-direction: column;
  margin-right: 4em;
}
.inspo a, .refer a {
  color:#05212e;
}
.inspo a:hover, .refer a:hover {
  color:#000000;
}

/* --- FOOTER --- */

div#input {
  float:left;
  margin-right: 450px;
}

div#legend p {
  width: 300px;
  background-color: #85ccb9;
  color: #0d4123;
  margin-left: 800px;
  border-radius: 15px;
   border: 2px solid #0d4123;
  padding: 15px;
}

